@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap");
@import url(reset.css);
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto) minmax(51px, auto) minmax(148px, auto) minmax(1120px, auto) minmax(438px, auto) minmax(455px, auto) minmax(77px, auto);
  grid-template-areas: "header" "topNav" "arrivals" "arrivalsProduct" "subscribe" "ftrTop" "footerBot"; }

.wrapper {
  max-width: 1140px;
  margin: 0 auto; }

.arrivalsProduct {
  grid-area: arrivalsProduct;
  margin-top: 90px;
  padding: 0 15px; }
  .arrivalsProduct .productDetails {
    min-height: 32px;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    border-bottom: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: 114px 1fr;
    justify-items: flex-end;
    align-items: center; }
    @media (max-width: 940px) {
      .arrivalsProduct .productDetails {
        justify-items: start;
        grid-template-columns: 280px 1fr; } }
    @media (max-width: 650px) {
      .arrivalsProduct .productDetails {
        grid-template-columns: 260px 1fr; } }
    @media (max-width: 625px) {
      .arrivalsProduct .productDetails {
        justify-items: start;
        grid-template-columns: auto; } }
  .arrivalsProduct .prodCategor {
    width: 630px;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    @media (max-width: 940px) {
      .arrivalsProduct .prodCategor {
        width: 350px; } }
    @media (max-width: 370px) {
      .arrivalsProduct .prodCategor {
        width: 280px; } }
  .arrivalsProduct .categor1 {
    width: 80px; }
    @media (max-width: 370px) {
      .arrivalsProduct .categor1 {
        width: 70px;
        font-size: 10px; } }
  .arrivalsProduct .categor2, .arrivalsProduct .categor4 {
    width: 75px; }
    @media (max-width: 370px) {
      .arrivalsProduct .categor2, .arrivalsProduct .categor4 {
        font-size: 10px; } }
  .arrivalsProduct .categor3 {
    width: 70px; }
    @media (max-width: 370px) {
      .arrivalsProduct .categor3 {
        font-size: 10px; } }
  .arrivalsProduct .categor5 {
    width: 60px; }
    @media (max-width: 370px) {
      .arrivalsProduct .categor5 {
        font-size: 10px; } }
  .arrivalsProduct .mangoOne, .arrivalsProduct .mangoTwo, .arrivalsProduct .mangoThree {
    min-height: 165px;
    border-bottom: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: 280px 1fr;
    justify-items: flex-end;
    align-items: center; }
    @media (max-width: 940px) {
      .arrivalsProduct .mangoOne, .arrivalsProduct .mangoTwo, .arrivalsProduct .mangoThree {
        grid-template-columns: 280px 315px; } }
    @media (max-width: 625px) {
      .arrivalsProduct .mangoOne, .arrivalsProduct .mangoTwo, .arrivalsProduct .mangoThree {
        grid-template-columns: 280px;
        margin-top: 20px; } }
  .arrivalsProduct .peopleOne, .arrivalsProduct .peopleTwo, .arrivalsProduct .peopleThree {
    width: 280px; }
    .arrivalsProduct .peopleOne img, .arrivalsProduct .peopleTwo img, .arrivalsProduct .peopleThree img {
      float: left;
      margin-right: 20px; }
  .arrivalsProduct .peopleTxt {
    overflow: hidden;
    margin-top: 13px; }
    .arrivalsProduct .peopleTxt h4 {
      color: #222222;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .arrivalsProduct .peopleTxt .peopleSpanOne {
      color: #575757;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px; }
    .arrivalsProduct .peopleTxt .peopleSpanTwo {
      font-weight: 300;
      font-size: 13px;
      line-height: 20px;
      color: #6f6e6e; }
  .arrivalsProduct .shirtOne, .arrivalsProduct .shirtTwo, .arrivalsProduct .shirtThree {
    width: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 940px) {
      .arrivalsProduct .shirtOne, .arrivalsProduct .shirtTwo, .arrivalsProduct .shirtThree {
        width: 315px; } }
    @media (max-width: 625px) {
      .arrivalsProduct .shirtOne, .arrivalsProduct .shirtTwo, .arrivalsProduct .shirtThree {
        width: 280px;
        margin: 15px 0; } }
    .arrivalsProduct .shirtOne input, .arrivalsProduct .shirtTwo input, .arrivalsProduct .shirtThree input {
      width: 54px;
      height: 30px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      text-align: center; }
      @media (max-width: 370px) {
        .arrivalsProduct .shirtOne input, .arrivalsProduct .shirtTwo input, .arrivalsProduct .shirtThree input {
          width: 44px; } }
  .arrivalsProduct .uni, .arrivalsProduct .ship, .arrivalsProduct .sub, .arrivalsProduct .act {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: center; }
  .arrivalsProduct .uni {
    width: 78px; }
  .arrivalsProduct .ship {
    width: 60px; }
  .arrivalsProduct .sub {
    width: 64px; }
  .arrivalsProduct .act {
    width: 50px; }
  .arrivalsProduct .shopCart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px; }
    @media (max-width: 503px) {
      .arrivalsProduct .shopCart {
        justify-content: center; } }
  .arrivalsProduct .clearShop, .arrivalsProduct .contShop {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (max-width: 503px) {
    .arrivalsProduct .contShop {
      margin-top: 20px; } }
  .arrivalsProduct .containerForm {
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; }
    @media (max-width: 1150px) {
      .arrivalsProduct .containerForm {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center; } }
    @media (max-width: 767px) {
      .arrivalsProduct .containerForm {
        grid-template-columns: auto; } }
  .arrivalsProduct .adress, .arrivalsProduct .discount {
    width: 355px; }
    @media (max-width: 390px) {
      .arrivalsProduct .adress, .arrivalsProduct .discount {
        width: auto; } }
    .arrivalsProduct .adress h4, .arrivalsProduct .discount h4 {
      color: #222222;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 22px; }
  .arrivalsProduct .adressOne select, .arrivalsProduct .adressOne input {
    width: 355px;
    height: 45px;
    font-family: inherit;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 20px;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    box-sizing: border-box; }
    @media (max-width: 390px) {
      .arrivalsProduct .adressOne select, .arrivalsProduct .adressOne input {
        width: 280px; } }
  .arrivalsProduct .adressOne button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px; }
  .arrivalsProduct .discountOne input {
    width: 355px;
    height: 45px;
    font-family: inherit;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 22px;
    margin-bottom: 20px;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    box-sizing: border-box; }
    @media (max-width: 390px) {
      .arrivalsProduct .discountOne input {
        width: 280px; } }
  .arrivalsProduct .discountOne h4 {
    margin-bottom: 25px; }
  .arrivalsProduct .discountOne label {
    color: #000000;
    font-size: 14px;
    font-weight: 300; }
  .arrivalsProduct .discountOne button {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px; }
  .arrivalsProduct .adressOne input::placeholder, .arrivalsProduct .discountOne input::placeholder {
    color: #b1b1b1; }
  .arrivalsProduct .total {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    padding: 42px;
    box-sizing: border-box;
    text-align: right; }
    @media (max-width: 390px) {
      .arrivalsProduct .total {
        width: auto; } }
    .arrivalsProduct .total button {
      width: 276px;
      height: 50px;
      background-color: #f16d7f;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      margin-top: 17px;
      font-family: inherit; }
      @media (max-width: 390px) {
        .arrivalsProduct .total button {
          width: auto; } }
  .arrivalsProduct .subTtl {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 22px; }
    .arrivalsProduct .subTtl .grand {
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      margin-top: 13px; }
      .arrivalsProduct .subTtl .grand .grdTtl {
        color: #f16d7f;
        margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
