<div class="subscribe">
<div class="wrapper subscribeWrip">
    <div class="burhan">
        <div class="imgBurhan"></div>
        <div class="burhanTxt">
            <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
            <h4 class="bin">Bin Burhan</h4>
            <span class="dhaka">Dhaka, Bd</span><br>
            <div class="brd1"></div>
            <div class="brd2"></div>
            <div class="brd3"></div>
        </div>
    </div>
    <div class="subTxt">
        <h3>Subscribe</h3>
        <h4>FOR OUR NEWLETTER AND PROMOTION</h4>
        <form action="#" class="subForm">
            <input type="text" placeholder="Enter Your Email">
            <button>Subscribe</button>
        </form>
    </div>
</div>
</div>
<footer class="ftrTop">
    <div class="wrapper footerTop">
        <div class="brand">
            <div class="brand_logo"><a href="#">BRAN<span>D</span></a></div>
            <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
            <br>
            <br> 
            Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
        </div>
        <section class="company">
            <h5>COMPANY</h5>
            <a href="#">Home</a> 
            <a href="#">Shop</a>
            <a href="#">About</a>
            <a href="#">How It Works</a>
            <a href="#">Contact</a>
        </section>
        <section class="info">
            <h5>INFORMATION</h5>
            <a href="#">Tearms & Condition</a>
            <a href="#">Privacy Policy</a>
            <a href="#">How to Buy</a>
            <a href="#">How to Sell</a>
            <a href="#">Promotion</a>
        </section>
        <section class="shop">
            <h5>SHOP CATEGORY</h5>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Child</a>
            <a href="#">Apparel</a>
            <a href="#">Brows All</a>
        </section>
    </div>
</footer>
<footer class="footerBot">
        <div class="wrapper footBotContainer">
            <p>&copy;2017  Brand  All Rights Reserved.</p>
            <div class="toils">
                <div class="footerToils"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                <div class="footerToils toilsTwit"><a href="#"><i class="fab fa-twitter"></i></a></div>
                <div class="footerToils"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
                <div class="footerToils"><a href="#"><i class="fab fa-pinterest-p"></i></a></div>
                <div class="footerToils"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
            </div>
        </div>
</footer>

